
body {
    background-color: #8ec63f;
}

h1 {}
h2 {}
h3 {}
h4 {}
p {}


.header{

}

.navbar-header{
	
}

.Header_img{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    opacity: 0.5;
}

body {}
h1 {}
h2 {}
h3 {}
h4 {}
p {}

.blogposts {
  background-color: #FFFFFF;
}

.blogimg {
  width: 175px;
  height: 175px;
  padding: 15px;
}

.footer{
    background-color: #282d30;
    color: white;
    text-align: center;
    font-size: 20px;
}

