
.header{
    border-style:solid black;
    background-color: black;

body {
    background-image: url(img/header.jpg);
}

.blogposts {
  background-color: #FFFFFF;
}

.blogimg {
  width: 175px;
  height: 175px;
  padding: 15px;
}

.navbar-header{
	background-color: transparent;
	margin: 0px;
	position: fixed;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    right:0;
    padding: 16px;
}

.Header_img{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    opacity: 0.5;
}


body {}
h1 {}
h2 {}
h3 {}
h4 {}
p {}

