.header{
    border-style:solid black;
    background-color: black;
	margin: 0px;
	position: fixed;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    right:0;
    padding: 16px;
}

.headerimg{
    padding: 0;
    opacity: 0.8;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

